* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
h1 {
  text-align: center;
  position: relative;
  bottom: 0;
  top: 100px;
}
.box {
  height: 40vh;
  width: 30vw;
  background: rgb(10, 117, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}
label {
  color: rgb(99, 96, 96);
  font-weight: 600;
}
.colorInput {
  border: none;
  margin-bottom: 2px;
}
p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(230, 230, 230);
}
.control{
  width: 40vw;
}
.switch{
  margin-top: 10px;
}